<a href="https://cognitiveclass.ai"><img src = "https://ibm.box.com/shared/static/ugcqz6ohbvff804xp84y4kqnvvk3bq1g.png" width = 300, align = "center"></a>

<h1 align=center><font size = 5>Lab: Working with a real world data-set using SQL and Python</font></h1>

# Introduction

This notebook shows how to work with a real world dataset using SQL and Python. In this lab you will:
1. Understand the dataset for Chicago Public School level performance 
1. Store the dataset in an Db2 database on IBM Cloud instance
1. Retrieve metadata about tables and columns and query data from mixed case columns
1. Solve example problems to practice your SQL skills including using built-in database functions

## Chicago Public Schools - Progress Report Cards (2011-2012) 

The city of Chicago released a dataset showing all school level performance data used to create School Report Cards for the 2011-2012 school year. The dataset is available from the Chicago Data Portal: https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t

This dataset includes a large number of metrics. Start by familiarizing yourself with the types of metrics in the database: https://data.cityofchicago.org/api/assets/AAD41A13-BE8A-4E67-B1F5-86E711E09D5F?download=true

__NOTE__: Do not download the dataset directly from City of Chicago portal. Instead download a more database friendly version from the link below.
Now download a static copy of this database and review some of its contents:
https://ibm.box.com/shared/static/f9gjvj1gjmxxzycdhplzt01qtz0s7ew7.csv

### Store the dataset in a Table
In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. To analyze the data using SQL, it first needs to be stored in the database.

While it is easier to read the dataset into a Pandas dataframe and then PERSIST it into the database as we saw in the previous lab, it results in mapping to default datatypes which may not be optimal for SQL querying. For example a long textual field may map to a CLOB instead of a VARCHAR. 

Therefore, __it is highly recommended to manually load the table using the database console LOAD tool, as indicated in Week 2 Lab 1 Part II__. The only difference with that lab is that in Step 5 of the instructions you will need to click on create "(+) New Table" and specify the name of the table you want to create and then click "Next". 

##### Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the CHICAGO PUBLIC SCHOOLS dataset and load the dataset into a new table called __SCHOOLS__.

<a href="https://cognitiveclass.ai"><img src = "https://ibm.box.com/shared/static/uc4xjh1uxcc78ks1i18v668simioz4es.jpg"></a>

### Connect to the database
Let us now load the ipython-sql  extension and establish a connection with the database

In [1]:
%load_ext sql

In [2]:
# Enter the connection string for your Db2 on Cloud database instance below
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name
%sql ibm_db_sa://lnc37078:f8%5E65jj3h5dqh0c1@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB

'Connected: lnc37078@BLUDB'

### Query the database system catalog to retrieve table metadata

##### You can verify that the table creation was successful by retrieving the list of all tables in your schema and checking whether the SCHOOLS table was created

In [11]:
# type in your query to retrieve list of all tables in the database for your db2 schema (username)
%sql select tabname from SYSCAT.TABLES where TABSCHEMA='LNC37078'

 * ibm_db_sa://lnc37078:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('EMPLOYEES',),
 ('JOB_HISTORY',),
 ('DEPARTMENTS',),
 ('LOCATIONS',),
 ('JOBS',),
 ('CPS_REPORTCARD',),
 ('INSTRUCTOR',),
 ('INTERNATIONAL_STUDENT_TEST_SCORES',),
 ('CHICAGO_SOCIOECONOMIC_DATA',)]

Double-click __here__ for a hint

<!--
In Db2 the system catalog table called SYSCAT.TABLES contains the table metadata
-->

Double-click __here__ for the solution.

<!-- Solution:

%sql select TABSCHEMA, TABNAME, CREATE_TIME from SYSCAT.TABLES where TABSCHEMA='YOUR-DB2-USERNAME'

or, you can retrieve list of all tables where the schema name is not one of the system created ones:

%sql select TABSCHEMA, TABNAME, CREATE_TIME from SYSCAT.TABLES \
      where TABSCHEMA not in ('SYSIBM', 'SYSCAT', 'SYSSTAT', 'SYSIBMADM', 'SYSTOOLS', 'SYSPUBLIC')
      
or, just query for a specifc table that you want to verify exists in the database
%sql select * from SYSCAT.TABLES where TABNAME = 'SCHOOLS'

-->

### Query the database system catalog to retrieve column metadata

##### The SCHOOLS table contains a large number of columns. How many columns does this table have?

In [14]:
# type in your query to retrieve the number of columns in the SCHOOLS table
%sql select count(*) from syscat.columns where tabname = 'CPS_REPORTCARD';

 * ibm_db_sa://lnc37078:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('78'),)]

Double-click __here__ for a hint

<!--
In Db2 the system catalog table called SYSCAT.COLUMNS contains the column metadata
-->

Double-click __here__ for the solution.

<!-- Solution:

%sql select count(*) from SYSCAT.COLUMNS where TABNAME = 'SCHOOLS'

-->

Now retrieve the the list of columns in SCHOOLS table and their column type (datatype) and length.

In [16]:
# type in your query to retrieve all column names in the SCHOOLS table along with their datatypes and length
%sql select colname,typename,length from syscat.columns where tabname='CPS_REPORTCARD';

 * ibm_db_sa://lnc37078:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('School_ID', 'INTEGER', 4),
 ('NAME_OF_SCHOOL', 'VARCHAR', 65),
 ('Elementary, Middle, or High School', 'VARCHAR', 2),
 ('Street_Address', 'VARCHAR', 30),
 ('City', 'VARCHAR', 7),
 ('State', 'VARCHAR', 2),
 ('ZIP_Code', 'INTEGER', 4),
 ('Phone_Number', 'VARCHAR', 14),
 ('Link', 'VARCHAR', 78),
 ('Network_Manager', 'VARCHAR', 40),
 ('Collaborative_Name', 'VARCHAR', 34),
 ('Adequate_Yearly_Progress_Made_', 'VARCHAR', 3),
 ('Track_Schedule', 'VARCHAR', 12),
 ('CPS_Performance_Policy_Status', 'VARCHAR', 16),
 ('CPS_Performance_Policy_Level', 'VARCHAR', 15),
 ('HEALTHY_SCHOOL_CERTIFIED', 'VARCHAR', 3),
 ('Safety_Icon', 'VARCHAR', 11),
 ('SAFETY_SCORE', 'SMALLINT', 2),
 ('Family_Involvement_Icon', 'VARCHAR', 11),
 ('Family_Involvement_Score', 'VARCHAR', 3),
 ('Environment_Icon', 'VARCHAR', 11),
 ('Environment_Score', 'SMALLINT', 2),
 ('Instruction_Icon', 'VARCHAR', 11),
 ('Instruction_Score', 'SMALLINT', 2),
 ('Leaders_Icon', 'VARCHAR', 11),
 ('Leaders_Score', 'VARCHAR', 3),
 ('Teachers_Icon', 'VARCHAR', 11),
 ('Teachers_Score', 'VARCHAR', 3),
 ('Parent_Engagement_Icon', 'VARCHAR', 7),
 ('Parent_Engagement_Score', 'VARCHAR', 3),
 ('Parent_Environment_Icon', 'VARCHAR', 7),
 ('Parent_Environment_Score', 'VARCHAR', 3),
 ('AVERAGE_STUDENT_ATTENDANCE', 'VARCHAR', 6),
 ('Rate_of_Misconducts__per_100_students_', 'DECIMAL', 5),
 ('Average_Teacher_Attendance', 'VARCHAR', 6),
 ('Individualized_Education_Program_Compliance_Rate', 'VARCHAR', 7),
 ('Pk_2_Literacy__', 'VARCHAR', 4),
 ('Pk_2_Math__', 'VARCHAR', 4),
 ('Gr3_5_Grade_Level_Math__', 'VARCHAR', 4),
 ('Gr3_5_Grade_Level_Read__', 'VARCHAR', 4),
 ('Gr3_5_Keep_Pace_Read__', 'VARCHAR', 4),
 ('Gr3_5_Keep_Pace_Math__', 'VARCHAR', 4),
 ('Gr6_8_Grade_Level_Math__', 'VARCHAR', 4),
 ('Gr6_8_Grade_Level_Read__', 'VARCHAR', 4),
 ('Gr6_8_Keep_Pace_Math_', 'VARCHAR', 4),
 ('Gr6_8_Keep_Pace_Read__', 'VARCHAR', 4),
 ('Gr_8_Explore_Math__', 'VARCHAR', 4),
 ('Gr_8_Explore_Read__', 'VARCHAR', 4),
 ('ISAT_Exceeding_Math__', 'DECIMAL', 4),
 ('ISAT_Exceeding_Reading__', 'DECIMAL', 4),
 ('ISAT_Value_Add_Math', 'DECIMAL', 3),
 ('ISAT_Value_Add_Read', 'DECIMAL', 3),
 ('ISAT_Value_Add_Color_Math', 'VARCHAR', 6),
 ('ISAT_Value_Add_Color_Read', 'VARCHAR', 6),
 ('Students_Taking__Algebra__', 'VARCHAR', 4),
 ('Students_Passing__Algebra__', 'VARCHAR', 4),
 ('9th Grade EXPLORE (2009)', 'VARCHAR', 4),
 ('9th Grade EXPLORE (2010)', 'VARCHAR', 4),
 ('10th Grade PLAN (2009)', 'VARCHAR', 4),
 ('10th Grade PLAN (2010)', 'VARCHAR', 4),
 ('Net_Change_EXPLORE_and_PLAN', 'VARCHAR', 3),
 ('11th Grade Average ACT (2011)', 'VARCHAR', 4),
 ('Net_Change_PLAN_and_ACT', 'VARCHAR', 3),
 ('College_Eligibility__', 'VARCHAR', 4),
 ('Graduation_Rate__', 'VARCHAR', 4),
 ('College_Enrollment_Rate__', 'VARCHAR', 4),
 ('COLLEGE_ENROLLMENT', 'SMALLINT', 2),
 ('General_Services_Route', 'SMALLINT', 2),
 ('Freshman_on_Track_Rate__', 'VARCHAR', 4),
 ('X_COORDINATE', 'DECIMAL', 13),
 ('Y_COORDINATE', 'DECIMAL', 13),
 ('Latitude', 'DECIMAL', 18),
 ('Longitude', 'DECIMAL', 18),
 ('COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('COMMUNITY_AREA_NAME', 'VARCHAR', 22),
 ('Ward', 'SMALLINT', 2),
 ('Police_District', 'SMALLINT', 2),
 ('Location', 'VARCHAR', 27)]

Double-click __here__ for the solution.

<!-- Solution:

%sql select COLNAME, TYPENAME, LENGTH from SYSCAT.COLUMNS where TABNAME = 'SCHOOLS'

or

%sql select distinct(NAME), COLTYPE, LENGTH from SYSIBM.SYSCOLUMNS where TBNAME = 'SCHOOLS'

-->

### Questions
1. Is the column name for the "SCHOOL ID" attribute in upper or mixed case?
1. What is the name of "Community Area Name" column in your table? Does it have spaces?
1. Are there any columns in whose names the spaces and paranthesis (round brackets) have been replaced by the underscore character "_"?

## Problems

### Problem 1

##### How many Elementary Schools are in the dataset?

In [19]:
%sql select count(*) from CPS_REPORTCARD where "Elementary, Middle, or High School" = 'ES';

 * ibm_db_sa://lnc37078:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('462'),)]

Double-click __here__ for a hint

<!--
Which column specifies the school type e.g. 'ES', 'MS', 'HS'?
-->

Double-click __here__ for another hint

<!--
Does the column name have mixed case, spaces or other special characters?
If so, ensure you use double quotes around the "Name of the Column"
-->

Double-click __here__ for the solution.

<!-- Solution:

%sql select count(*) from SCHOOLS where "Elementary, Middle, or High School" = 'ES'

Correct answer: 462

-->

### Problem 2

##### What is the highest Safety Score?

In [20]:
%sql select max(SAFETY_SCORE) from CPS_REPORTCARD;

 * ibm_db_sa://lnc37078:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(99,)]

Double-click __here__ for a hint

<!--
Use the MAX() function
-->

Double-click __here__ for the solution.

<!-- Hint:

%sql select MAX(Safety_Score) AS MAX_SAFETY_SCORE from SCHOOLS

Correct answer: 99
-->

### Problem 3

##### Which schools have highest Safety Score?

In [22]:
%sql select name_of_school as schools_highest_safety from CPS_REPORTCARD where SAFETY_SCORE = (select max(SAFETY_SCORE) from CPS_REPORTCARD)

 * ibm_db_sa://lnc37078:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('Abraham Lincoln Elementary School',),
 ('Alexander Graham Bell Elementary School',),
 ('Annie Keller Elementary Gifted Magnet School',),
 ('Augustus H Burley Elementary School',),
 ('Edgar Allan Poe Elementary Classical School',),
 ('Edgebrook Elementary School',),
 ('Ellen Mitchell Elementary School',),
 ('James E McDade Elementary Classical School',),
 ('James G Blaine Elementary School',),
 ('LaSalle Elementary Language Academy',),
 ('Mary E Courtenay Elementary Language Arts Center',),
 ('Northside College Preparatory High School',),
 ('Northside Learning Center High School',),
 ('Norwood Park Elementary School',),
 ('Oriole Park Elementary School',),
 ('Sauganash Elementary School',),
 ('Stephen Decatur Classical Elementary School',),
 ('Talman Elementary School',),
 ('Wildwood Elementary School',)]

Double-click __here__ for the solution.

<!-- Solution:
In the previous problem we found out that the highest Safety Score is 99, so we can use that as an input in the where clause:

%sql select Name_of_School, Safety_Score from SCHOOLS where Safety_Score = 99

or, a better way:

%sql select Name_of_School, Safety_Score from SCHOOLS where \
  Safety_Score= (select MAX(Safety_Score) from SCHOOLS)


Correct answer: several schools with with Safety Score of 99.
-->

### Problem 4

##### What are the top 10 schools with the highest "Average Student Attendance"?

In [30]:
%sql select Name_of_School, AVERAGE_STUDENT_ATTENDANCE from CPS_REPORTCARD \
     order by AVERAGE_STUDENT_ATTENDANCE desc \
     nulls last limit 10;

 * ibm_db_sa://lnc37078:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('John Charles Haines Elementary School', '98.40%'),
 ('James Ward Elementary School', '97.80%'),
 ('Edgar Allan Poe Elementary Classical School', '97.60%'),
 ('Orozco Fine Arts & Sciences Elementary School', '97.60%'),
 ('Rachel Carson Elementary School', '97.60%'),
 ('Annie Keller Elementary Gifted Magnet School', '97.50%'),
 ('Andrew Jackson Elementary Language Academy', '97.40%'),
 ('Lenart Elementary Regional Gifted Center', '97.40%'),
 ('Disney II Magnet School', '97.30%'),
 ('John H Vanderpoel Elementary Magnet School', '97.20%')]

Double-click __here__ for the solution.

<!-- Solution:

%sql select Name_of_School, Average_Student_Attendance from SCHOOLS \
    order by Average_Student_Attendance desc nulls last limit 10 

-->

### Problem 5

##### Retrieve the list of 5 Schools with the lowest Average Student Attendance sorted in ascending order based on attendance

In [31]:
%sql select Name_of_School, AVERAGE_STUDENT_ATTENDANCE from CPS_REPORTCARD \
     order by AVERAGE_STUDENT_ATTENDANCE \
     limit 5;

 * ibm_db_sa://lnc37078:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('Richard T Crane Technical Preparatory High School', '57.90%'),
 ('Barbara Vick Early Childhood & Family Center', '60.90%'),
 ('Dyett High School', '62.50%'),
 ('Wendell Phillips Academy High School', '63.00%'),
 ('Orr Academy High School', '66.30%')]

Double-click __here__ for the solution.

<-- Solution:

%sql SELECT Name_of_School, Average_Student_Attendance  \
     from SCHOOLS \
     order by Average_Student_Attendance \
     fetch first 5 rows only

-->

### Problem 6

##### Now remove the '%' sign from the above result set for Average Student Attendance column

In [37]:
%sql select Name_of_School, replace(AVERAGE_STUDENT_ATTENDANCE,'%','') from CPS_REPORTCARD

 * ibm_db_sa://lnc37078:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('Abraham Lincoln Elementary School', '96.00'),
 ('Adam Clayton Powell Paideia Community Academy Elementary School', '95.60'),
 ('Adlai E Stevenson Elementary School', '95.70'),
 ('Agustin Lara Elementary Academy', '95.50'),
 ('Air Force Academy High School', '93.30'),
 ('Albany Park Multicultural Academy', '97.00'),
 ('Albert G Lane Technical High School', '96.30'),
 ('Albert R Sabin Elementary Magnet School', '94.70'),
 ('Alcott High School for the Humanities', '92.70'),
 ('Alessandro Volta Elementary School', '96.40'),
 ('Alexander Graham Bell Elementary School', '96.30'),
 ('Alexander Graham Elementary School', '92.50'),
 ('Alexander Hamilton Elementary School', '95.30'),
 ('Alexander von Humboldt Elementary School', '92.50'),
 ('Alex Haley Elementary Academy', '94.90'),
 ('Alfred David Kohn Elementary School', '90.10'),
 ('Alfred Nobel Elementary School', '94.60'),
 ('Alice L Barnard Computer Math & Science Center Elementary School', '95.60'),
 ('Al Raby High School', '80.30'),
 ('Ambrose Plamondon Elementary School', '96.90'),
 ('Amelia Earhart Options for Knowledge Elementary School', '96.30'),
 ('Ames Middle School', '94.30'),
 ('Amos Alonzo Stagg Elementary School', '91.40'),
 ('Ana Roque de Duprey Elementary School', '95.40'),
 ('Andrew Carnegie Elementary School', '94.60'),
 ('Andrew Jackson Elementary Language Academy', '97.40'),
 ('Anna R. Langford Community Academy', '91.80'),
 ('Annie Keller Elementary Gifted Magnet School', '97.50'),
 ('A.N. Pritzker School', '94.60'),
 ('Anthony Overton Elementary School', '90.50'),
 ('Ariel Elementary Community Academy', '95.50'),
 ('Arna Wendell Bontemps Elementary School', '94.20'),
 ('Arnold Mireles Elementary Academy', '92.80'),
 ('Arthur A Libby Elementary School', '90.80'),
 ('Arthur Dixon Elementary School', '94.80'),
 ('Arthur E Canty Elementary School', '96.10'),
 ('Arthur R Ashe Elementary School', '87.90'),
 ('Asa Philip Randolph Elementary School', '92.10'),
 ('Ashburn Community Elementary School', '95.50'),
 ('Augustus H Burley Elementary School', '96.50'),
 ('Austin Business and Entrepreneurship Academy High School', '76.00'),
 ('Austin O Sexton Elementary School', '90.50'),
 ('Austin Polytechnical Academy High School', '70.10'),
 ('Avalon Park Elementary School', '92.10'),
 ('Barbara Vick Early Childhood & Family Center', '60.90'),
 ('Belmont-Cragin Elementary School', '95.30'),
 ('Benito Juarez Community Academy High School', '83.70'),
 ('Benjamin Banneker Elementary School', '91.30'),
 ('Benjamin E Mays Elementary Academy', '95.50'),
 ('Bernhard Moos Elementary School', '93.00'),
 ('Betsy Ross Elementary School', '88.90'),
 ('Beulah Shoesmith Elementary School', '94.70'),
 ('Blair Early Childhood Center', '80.20'),
 ('Bret Harte Elementary School', '94.20'),
 ('Brian Piccolo Elementary Specialty School', '90.60'),
 ('Brighton Park Elementary School', '96.30'),
 ('Bronzeville Scholastic Academy High School', '92.30'),
 ('Burnham Elementary Inclusive Academy', '95.50'),
 ('Burnside Elementary Scholastic Academy', '94.90'),
 ('Calmeca Academy of Fine Arts and Dual Language', '96.50'),
 ('Carl Schurz High School', '81.20'),
 ('Carl von Linne Elementary School', '95.80'),
 ('Carrie Jacobs Bond Elementary School', '91.70'),
 ('Carroll-Rosenwald Specialty Elementary School', '94.80'),
 ('Carter G Woodson South Elementary School', '91.90'),
 ('Cesar E Chavez Multicultural Academic Center Elementary School', '95.10'),
 ('Charles Allen Prosser Career Academy High School', '86.00'),
 ('Charles Evans Hughes Elementary School', '94.40'),
 ('Charles Gates Dawes Elementary School', '95.70'),
 ('Charles G Hammond Elementary School', '95.30'),
 ('Charles H Wacker Elementary School', '93.40'),
 ('Charles Kozminski Elementary Community Academy', '92.00'),
 ('Charles N Holden Elementary School', '94.90'),
 ('Charles P Caldwell Academy of Math & Science Elementary School', '92.70'),
 ('Charles P Steinmetz Academic Centre High School', '79.20'),
 ('Charles R Darwin Elementary School', '95.60'),
 ('Charles R Henderson Elementary School', '89.20'),
 ('Charles S Brownell Elementary School', '92.80'),
 ('Charles S Deneen Elementary School', '93.80'),
 ('Charles Sumner  Math & Science Community Acad Elementary School', '93.90'),
 ('Charles W Earle Elementary School', '93.80'),
 ('Chicago Academy Elementary School', '96.30'),
 ('Chicago Academy High School', '93.10'),
 ('Chicago High School for Agricultural Sciences', '92.80'),
 ('Chicago Military Academy High School', '90.30'),
 ('Chicago Vocational Career Academy High School', '68.80'),
 ('Christian Ebinger Elementary School', '95.90'),
 ('Christian Fenger Academy High School', '74.40'),
 ('Christopher Columbus Elementary School', '95.50'),
 ('Clara Barton Elementary School', '91.70'),
 ('Claremont Academy Elementary School', '92.50'),
 ('Collins Academy High School', '91.40'),
 ('Columbia Explorers Elementary Academy', '95.40'),
 ('Countee Cullen Elementary School', '94.10'),
 ('Crispus Attucks Elementary School', '95.20'),
 ('Crown Community Academy of Fine Arts Center Elementary School', '92.50'),
 ('Cyrus H McCormick Elementary School', '95.90'),
 ('Daniel Boone Elementary School', '95.50'),
 ('Daniel C Beard Elementary School', '91.90'),
 ('Daniel Hale Williams Prep School of Medicine', '91.30'),
 ('Daniel J Corkery Elementary School', '94.70'),
 ('Daniel R Cameron Elementary School', '92.60'),
 ('Daniel S Wentworth Elementary School', '91.60'),
 ('Daniel Webster Elementary School', '94.80'),
 ('David G Farragut Career Academy High School', '86.10'),
 ('DeVry University Advantage Academy High School', '96.70'),
 ('Dewey Elementary Academy of Fine Arts', '90.70'),
 ('DeWitt Clinton Elementary School', '95.30'),
 ('Disney II Magnet School', '97.30'),
 ('Donald Morrill Math & Science Elementary School', '93.40'),
 ('Douglas Taylor Elementary School', '95.10'),
 ('Dr Jorge Prieto Math and Science', '94.70'),
 ('Dr  Martin Luther King  Jr  College Prep High School', '92.90'),
 ('Dumas Technology Academy', '92.50'),
 ('Dunne Technology Academy', '94.60'),
 ('Durkin Park Elementary School', '95.40'),
 ('Dvorak Technology Academy', '94.20'),
 ('Dyett High School', '62.50'),
 ('Edgar Allan Poe Elementary Classical School', '97.60'),
 ('Edgebrook Elementary School', '96.90'),
 ('Edison Park Elementary School', '96.10'),
 ('Edmond Burke Elementary School', '89.30'),
 ('Edward A Bouchet Math & Science Academy Elementary School', '92.90'),
 ('Edward Beasley Elementary Magnet Academic Center', '95.00'),
 ('Edward C Delano Elementary School', '93.40'),
 ('Edward Coles Elementary Language Academy', '95.10'),
 ('Edward Everett Elementary School', '95.30'),
 ('Edward Jenner Elementary Academy of the Arts', '88.90'),
 ('Edward K Ellington Elementary School', '93.30'),
 ('Edward N Hurley Elementary School', '95.40'),
 ('Edward Tilden Career Community Academy High School', '78.40'),
 ('Edward White Elementary Career Academy', '93.80'),
 ('Edwin G Foreman High School', '84.30'),
 ('Elaine O Goodlow Elementary Magnet School', '91.60'),
 ('Elihu Yale Elementary School', '89.70'),
 ('Eli Whitney Elementary School', '95.80'),
 ('Elizabeth H Sutherland Elementary School', '95.60'),
 ('Elizabeth Peabody Elementary School', '95.20'),
 ('Eliza Chappell Elementary School', '95.10'),
 ('Ella Flagg Young Elementary School', '94.30'),
 ('Ellen H Richards Career Academy High School', '90.60'),
 ('Ellen Mitchell Elementary School', '95.50'),
 ('Emil G Hirsch Metropolitan High School', '84.80'),
 ('Emiliano Zapata Elementary Academy', '96.60'),
 ('Emmett Louis Till Math and Science Academy', '88.00'),
 ('Enrico Fermi Elementary School', '89.90'),
 ('Enrico Tonti Elementary School', '95.80'),
 ('Eric Solorio Academy High School', '92.20'),
 ('Ernst Prussing Elementary School', '95.40'),
 ('Esmond Elementary School', '92.90'),
 ('Eugene Field Elementary School', '96.80'),
 ('Everett McKinley Dirksen Elementary School', '95.90'),
 ('Evergreen Academy Middle School', '96.10'),
 ('Fairfield Elementary Academy', '93.40'),
 ('Federico Garcia Lorca Elementary School', '96.80'),
 ('Wilma Rudolph Elementary Learning Center', '80.00'),
 ('Ferdinand Peck Elementary School', '96.30'),
 ('Fernwood Elementary School', '93.40'),
 ('Florence B Price Elementary School', '90.00'),
 ('Florence Nightingale Elementary School', '95.60'),
 ('Fort Dearborn Elementary School', '93.40'),
 ('Foster Park Elementary School', '93.70'),
 ('Francisco I Madero Middle School', '95.10'),
 ('Francis M McKay Elementary School', '93.50'),
 ('Francis Parkman Elementary School', '90.60'),
 ('Francis Scott Key Elementary School', '91.90'),
 ('Francis W Parker Elementary Community Academy', '91.90'),
 ('Frank I Bennett Elementary School', '92.50'),
 ('Frank L Gillespie Elementary School', '91.90'),
 ('Franklin Elementary Fine Arts Center', '95.90'),
 ('Frank W Gunsaulus Elementary Scholastic Academy', '96.60'),
 ('Frank W Reilly Elementary School', '97.00'),
 ('Franz Peter Schubert Elementary School', '95.80'),
 ('Frazier Prospective IB Magnet Elementary School', '96.80'),
 ('Frederic Chopin Elementary School', '96.90'),
 ('Frederick A Douglass Academy High School', '79.20'),
 ('Frederick Funston Elementary School', '94.70'),
 ('Frederick Stock Elementary School', '72.40'),
 ('Friedrich Ludwig Jahn Elementary School', '94.70'),
 ('Friedrich W von Steuben Metropolitan Science High School', '87.00'),
 ('Gage Park High School', '72.50'),
 ('Galileo Math & Science Scholastic Academy Elementary School', '95.00'),
 ('Garrett A Morgan Elementary School', '92.00'),
 ('Genevieve Melody Elementary School', '92.10'),
 ('George Armstrong International Studies Elementary School', '96.30'),
 ('George B McClellan Elementary School', '93.20'),
 ('George B Swift Elementary Specialty School', '96.30'),
 ('George F Cassell Elementary School', '94.40'),
 ('George H Corliss High School', '71.30'),
 ('George Leland Elementary School', '92.60'),
 ('George Manierre Elementary School', '91.00'),
 ('George M Pullman Elementary School', '93.50'),
 ('George Rogers Clark Elementary School', '93.90'),
 ('George Washington Carver Military Academy High School', '91.60'),
 ('George Washington Carver Primary School', '90.90'),
 ('George Washington Elementary School', '95.50'),
 ('George Washington High School', '80.20'),
 ('George W Curtis Elementary School', '93.80'),
 ('George Westinghouse High School', '93.60'),
 ('George W Tilton Elementary School', '91.40'),
 ('Gerald Delgado Kanoon Elementary Magnet School', '95.90'),
 ('Graeme Stewart Elementary School', '95.20'),
 ('Granville T Woods Math & Science Academy Elementary School', '91.90'),
 ('Greater Lawndale High School For Social Justice', '87.50'),
 ('Grover Cleveland Elementary School', '95.00'),
 ('Guglielmo Marconi Elementary Community Academy', '91.50'),
 ('Gurdon S Hubbard High School', '89.30'),
 ('Gwendolyn Brooks College Preparatory Academy High School', '87.10'),
 ('Hannah G Solomon Elementary School', '95.80'),
 ('Hanson Park Elementary School', '95.00'),
 ('Harold Washington Elementary School', '96.10'),
 ('Harriet Beecher Stowe Elementary School', '93.80'),
 ('Harriet E Sayre Elementary Language Academy', '96.20'),
 ('Hawthorne Elementary Scholastic Academy', '96.90'),
 ('Helen M Hefferan Elementary School', '93.80'),
 ('Helen Peirce International Studies Elementary School', '96.70'),
 ('Helge A Haugan Elementary School', '96.20'),
 ('Henry Clay Elementary School', '95.20'),
 ('Henry D Lloyd Elementary School', '96.20'),
 ('Henry H Nash Elementary School', '95.10'),
 ('Henry O Tanner Elementary School', '91.80'),
 ('Henry R Clissold Elementary School', '95.10'),
 ('High School of Leadership at South Shore', '72.00'),
 ('Hiram H Belding Elementary School', '95.00'),
 ('Hope College Preparatory High School', '72.20'),
 ('Horace Greeley Elementary School', '95.90'),
 ('Horace Mann Elementary School', '92.60'),
 ('Horatio May Elementary Community Academy', '91.90'),
 ('Hyde Park Academy High School', '70.50'),
 ('Hyman G Rickover Naval Academy High School', '92.90'),
 ('Ida B Wells Preparatory Elementary Academy', '93.20'),
 ('Ignance Paderewski Elementary Learning Academy', '92.10'),
 ('Infinity Math Science and Technology High School', '92.20'),
 ('Inter-American Elementary Magnet School', '96.20'),
 ('Ira F Aldridge Elementary School', '92.90'),
 ('Irene C. Hernandez Middle School for the Advancement of Science', '95.50'),
 ('Irma C Ruiz Elementary School', '95.50'),
 ('Irvin C Mollison Elementary School', '91.10'),
 ("Isabelle C O'Keeffe Elementary School", '92.10'),
 ('Jackie Robinson Elementary School', '90.50'),
 ('Jacob Beidler Elementary School', '95.40'),
 ('Jacqueline B Vaughn Occupational High School', '87.60'),
 ('James B Farnsworth Elementary School', '94.20'),
 ('James B McPherson Elementary School', '96.50'),
 ('James E McDade Elementary Classical School', '96.20'),
 ('James G Blaine Elementary School', '96.40'),
 ('James Hedges Elementary School', '95.40'),
 ('James Madison Elementary School', '94.90'),
 ('James Monroe Elementary School', '95.10'),
 ('James N Thorp Elementary School', '91.80'),
 ('James Otis Elementary School', '95.50'),
 ('James R Doolittle Jr Elementary School', '91.40'),
 ('James Russell Lowell Elementary School', '93.20'),
 ('James Shields Elementary School', '97.00'),
 ('James Wadsworth Elementary School', '92.20'),
 ('James Ward Elementary School', '97.80'),
 ('James Weldon Johnson Elementary School', '94.70'),
 ('Jane Addams Elementary School', '96.00'),
 ('Jane A Neil Elementary School', '88.90'),
 ('Jean Baptiste Beaubien Elementary School', '95.70'),
 ('Jean D Lafayette Elementary School', '94.10'),
 ('Jensen Elementary Scholastic Academy', '93.10'),
 ('Jesse Owens Elementary Community Academy', '91.30'),
 ('Jesse Sherwood Elementary School', '92.00'),
 ('Johann W von Goethe Elementary School', '95.80'),
 ('John A Walsh Elementary School', '95.10'),
 ('John Barry Elementary School', '95.10'),
 ('John B Drake Elementary School', '93.80'),
 ('John B Murphy Elementary School', '95.60'),
 ('John Calhoun North Elementary School', '95.90'),
 ('John C Burroughs Elementary School', '95.60'),
 ('John C Coonley Elementary School', '95.90'),
 ('John C Dore Elementary School', '95.60'),
 ('John Charles Haines Elementary School', '98.40'),
 ('John D Shoop Math-Science Technical Academy Elementary School', '93.20'),
 ('John F Eberhart Elementary School', '95.30'),
 ('John Fiske Elementary School', '92.90'),
 ('John F Kennedy High School', '83.00'),
 ('John Foster Dulles Elementary School', '94.10'),
 ('John Greenleaf Whittier Elementary School', '94.90'),
 ('John Hancock College Preparatory High School', '78.20'),
 ('John Harvard Elementary School of Excellence', '93.00'),
 ('John Hay Elementary Community Academy', '92.90'),
 ('John H Hamline Elementary School', '94.40'),
 ('John H Kinzie Elementary School', '95.40'),
 ('John H Vanderpoel Elementary Magnet School', '97.20'),
 ('John J Audubon Elementary School', '96.20'),
 ('John J Pershing Elementary Humanities Magnet', '95.50'),
 ('John L Marsh Elementary School', '95.70'),
 ('John Marshall Metropolitan High School', '74.10'),
 ('John M Harlan Community Academy High School', '81.20'),
 ('John Milton Gregory Elementary School', '95.20'),
 ('John M Smyth Elementary School', '92.40'),
 ('Johnnie Colemon Elementary Academy', '95.90'),
 ('John Palmer Elementary School', '96.30'),
 ('John P Altgeld Elementary School', '91.90'),
 ('John Spry Elementary Community School', '96.20'),
 ('John T McCutcheon Elementary School', '94.00'),
 ('John T Pirie Fine Arts & Academic Center Elementary School', '93.50'),
 ('John W Cook Elementary School', '94.00'),
 ('John W Garvy Elementary School', '95.30'),
 ('John Whistler Elementary School', '92.40'),
 ('Jonathan Burr Elementary School', '95.90'),
 ('Jonathan Y Scammon Elementary School', '95.90'),
 ('Jordan Elementary Community School', '95.60'),
 ('Jose De Diego Elementary Community Academy', '95.00'),
 ('Josefa Ortiz De Dominguez Elementary School', '95.80'),
 ('Joseph Brennemann Elementary School', '96.50'),
 ('Joseph E Gary Elementary School', '96.10'),
 ('Josephine C Locke Elementary School', '95.50'),
 ('Joseph Jungman Elementary School', '96.40'),
 ('Joseph Kellman Corporate Community Elementary School', '95.20'),
 ('Joseph Lovett Elementary School', '95.40'),
 ('Joseph Stockton Elementary School', '94.90'),
 ('Joseph Warren Elementary School', '95.00'),
 ('Joshua D Kershaw Elementary School', '94.80'),
 ('Josiah Pickard Elementary School', '95.80'),
 ('Joyce Kilmer Elementary School', '96.00'),
 ('Julia C Lathrop Elementary School', '90.50'),
 ('Julia Ward Howe Elementary School of Excellence', '96.00'),
 ('Kate S Buckingham Special Education Center', '83.40'),
 ('Kate S Kellogg Elementary School', '96.30'),
 ('Kelvyn Park High School', '74.40'),
 ('Kenwood Academy High School', '88.40'),
 ('Lake View High School', '87.70'),
 ('Langston Hughes Elementary School', '90.00'),
 ('LaSalle Elementary Language Academy', '96.80'),
 ('LaSalle II Magnet Elementary School', '95.10'),
 ('Laughlin Falconer Elementary School', '96.10'),
 ('Laura S Ward Elementary School', '92.90'),
 ('Lawndale Elementary Community Academy', '91.00'),
 ('Lazaro Cardenas Elementary School', '96.30'),
 ('Leif Ericson Elementary Scholastic Academy', '94.70'),
 ('Lenart Elementary Regional Gifted Center', '97.40'),
 ('Leslie Lewis Elementary School', '91.80'),
 ('Lincoln Park High School', '84.60'),
 ('Lionel Hampton Fine & Performing Arts Elementary School', '95.00'),
 ('Little Village Elementary School', '96.70'),
 ('Logandale Middle School', '95.10'),
 ('Lorenz Brentano Math & Science Academy Elementary School', '94.70'),
 ('Louis A Agassiz Elementary School', '95.20'),
 ('Louisa May Alcott Elementary School', '96.60'),
 ('Louis Armstrong Math & Science Elementary School', '92.60'),
 ('Louis Nettelhorst Elementary School', '95.50'),
 ('Louis Pasteur Elementary School', '95.00'),
 ('Ludwig Van Beethoven Elementary School', '93.70'),
 ("Luke O'Toole Elementary School", '89.20'),
 ('Luther Burbank Elementary School', '95.20'),
 ('Lyman A Budlong Elementary School', '95.40'),
 ('Lyman Trumbull Elementary School', '94.30'),
 ('Mahalia Jackson Elementary School', '92.50'),
 ('Mancel Talcott Elementary School', '95.80'),
 ('Manley Career Academy High School', '66.80'),
 ('Manuel Perez Elementary School', '95.90'),
 ('Marcus Moziah Garvey Elementary School', '94.00'),
 ('Mariano Azuela Elementary School', '95.50'),
 ('Maria Saucedo Elementary Scholastic Academy', '96.80'),
 ('Marie Sklodowska Curie Metropolitan High School', '85.00'),
 ('Marine Military Math and Science Academy', '91.30'),
 ('Mark Sheridan Elementary Math & Science Academy', '96.80'),
 ('Mark Skinner Elementary School', '97.10'),
 ('Mark Twain Elementary School', '96.30'),
 ('Marquette Elementary School', '93.10'),
 ('Martha Ruggles Elementary School', '93.90'),
 ('Martin A Ryerson Elementary School', '95.50'),
 ('Marvin Camras Elementary School', '95.10'),
 ('Mary E Courtenay Elementary Language Arts Center', '94.90'),
 ('Mary E McDowell Elementary School', '95.50'),
 ('Mary Gage Peterson Elementary School', '95.50'),
 ('Mary Lyon Elementary School', '95.90'),
 ('Mary Mapes Dodge Elementary Renaissance Academy', '94.40'),
 ('Mary McLeod Bethune Elementary School', '93.30'),
 ('Mason High School', '90.40'),
 ('Matthew A Henson Elementary School', '90.90'),
 ('Matthew Gallistel Elementary Language Academy', '95.10'),
 ('Medgar Evers Elementary School', '94.90'),
 ('Melville W Fuller Elementary School', '91.80'),
 ('Michael Faraday Elementary School', '93.30'),
 ('Michael M Byrne Elementary School', '94.60'),
 ('Michele Clark Academic Prep Magnet High School', '79.10'),
 ('Mildred I Lavizzo Elementary School', '91.50'),
 ('Milton Brunson Math & Science Specialty Elementary School', '91.30'),
 ('Minnie Mars Jamieson Elementary School', '95.70'),
 ('Miriam G Canter Middle School', '91.40'),

Double-click __here__ for a hint

<!--
Use the REPLACE() function to replace '%' with ''
See documentation for this function at:
https://www.ibm.com/support/knowledgecenter/en/SSEPGG_10.5.0/com.ibm.db2.luw.sql.ref.doc/doc/r0000843.html
-->

Double-click __here__ for the solution.

<!-- Hint:

%sql SELECT Name_of_School, REPLACE(Average_Student_Attendance, '%', '') \
     from SCHOOLS \
     order by Average_Student_Attendance \
     fetch first 5 rows only

-->

### Problem 7

##### Which Schools have Average Student Attendance lower than 70%?

In [40]:
%sql select Name_of_School, AVERAGE_STUDENT_ATTENDANCE from CPS_REPORTCARD where REPLACE(Average_Student_Attendance, '%', '') < 70;

 * ibm_db_sa://lnc37078:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('Barbara Vick Early Childhood & Family Center', '60.90%'),
 ('Chicago Vocational Career Academy High School', '68.80%'),
 ('Dyett High School', '62.50%'),
 ('Manley Career Academy High School', '66.80%'),
 ('Orr Academy High School', '66.30%'),
 ('Richard T Crane Technical Preparatory High School', '57.90%'),
 ('Roberto Clemente Community Academy High School', '69.60%'),
 ('Wendell Phillips Academy High School', '63.00%')]

Double-click __here__ for a hint

<!--
The datatype of the "Average_Student_Attendance" column is varchar.
So you cannot use it as is in the where clause for a numeric comparison.
First use the CAST() function to cast it as a DECIMAL or DOUBLE
e.g. CAST("Column_Name" as DOUBLE)
or simply: DECIMAL("Column_Name")
-->

Double-click __here__ for another hint

<!--
Don't forget the '%' age sign needs to be removed before casting
-->

Double-click __here__ for the solution.

<!-- Solution:

%sql SELECT Name_of_School, Average_Student_Attendance  \
     from SCHOOLS \
     where CAST ( REPLACE(Average_Student_Attendance, '%', '') AS DOUBLE ) < 70 \
     order by Average_Student_Attendance
     
or,

%sql SELECT Name_of_School, Average_Student_Attendance  \
     from SCHOOLS \
     where DECIMAL ( REPLACE(Average_Student_Attendance, '%', '') ) < 70 \
     order by Average_Student_Attendance

-->

### Problem 8

##### Get the total College Enrollment for each Community Area

In [48]:
%sql SELECT COMMUNITY_AREA_NAME, SUM(COLLEGE_ENROLLMENT) AS TOTAL_ENROLL_PER_COMMUNITY FROM CPS_REPORTCARD GROUP BY COMMUNITY_AREA_NAME

 * ibm_db_sa://lnc37078:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('ALBANY PARK', 6864),
 ('ARCHER HEIGHTS', 4823),
 ('ARMOUR SQUARE', 1458),
 ('ASHBURN', 6483),
 ('AUBURN GRESHAM', 4175),
 ('AUSTIN', 10933),
 ('AVALON PARK', 1522),
 ('AVONDALE', 3640),
 ('BELMONT CRAGIN', 14386),
 ('BEVERLY', 1636),
 ('BRIDGEPORT', 3167),
 ('BRIGHTON PARK', 9647),
 ('BURNSIDE', 549),
 ('CALUMET HEIGHTS', 1568),
 ('CHATHAM', 5042),
 ('CHICAGO LAWN', 7086),
 ('CLEARING', 2085),
 ('DOUGLAS', 4670),
 ('DUNNING', 4568),
 ('EAST GARFIELD PARK', 5337),
 ('EAST SIDE', 5305),
 ('EDGEWATER', 4600),
 ('EDISON PARK', 910),
 ('ENGLEWOOD', 6832),
 ('FOREST GLEN', 1431),
 ('FULLER PARK', 531),
 ('GAGE PARK', 9915),
 ('GARFIELD RIDGE', 4552),
 ('GRAND BOULEVARD', 2809),
 ('GREATER GRAND CROSSING', 4051),
 ('HEGEWISCH', 963),
 ('HERMOSA', 3975),
 ('HUMBOLDT PARK', 8620),
 ('HYDE PARK', 1930),
 ('IRVING PARK', 7764),
 ('JEFFERSON PARK', 1755),
 ('KENWOOD', 4287),
 ('LAKE VIEW', 7055),
 ('LINCOLN PARK', 5615),
 ('LINCOLN SQUARE', 4132),
 ('LOGAN SQUARE', 7351),
 ('LOOP', 871),
 ('LOWER WEST SIDE', 7257),
 ('MCKINLEY PARK', 1552),
 ('MONTCLARE', 1317),
 ('MORGAN PARK', 3271),
 ('MOUNT GREENWOOD', 2091),
 ('NEAR NORTH SIDE', 3362),
 ('NEAR SOUTH SIDE', 1378),
 ('NEAR WEST SIDE', 7975),
 ('NEW CITY', 7922),
 ('NORTH CENTER', 7541),
 ('NORTH LAWNDALE', 5146),
 ('NORTH PARK', 4210),
 ('NORWOOD PARK', 6469),
 ('OAKLAND', 140),
 ('OHARE', 786),
 ('PORTAGE PARK', 6954),
 ('PULLMAN', 1620),
 ('RIVERDALE', 1547),
 ('ROGERS PARK', 4068),
 ('ROSELAND', 7020),
 ('SOUTH CHICAGO', 4043),
 ('SOUTH DEERING', 1859),
 ('SOUTH LAWNDALE', 14793),
 ('SOUTH SHORE', 4543),
 ('UPTOWN', 4388),
 ('WASHINGTON HEIGHTS', 4006),
 ('WASHINGTON PARK', 2648),
 ('WEST ELSDON', 3700),
 ('WEST ENGLEWOOD', 5946),
 ('WEST GARFIELD PARK', 2622),
 ('WEST LAWN', 4207),
 ('WEST PULLMAN', 3240),
 ('WEST RIDGE', 8197),
 ('WEST TOWN', 9429),
 ('WOODLAWN', 4206)]

Double-click __here__ for a hint

<!--
Verify the exact name of the Enrollment column in the database
Use the SUM() function to add up the Enrollments for each Community Area
-->

Double-click __here__ for another hint

<!--
Don't forget to group by the Community Area
-->

Double-click __here__ for the solution.

<!-- Solution:

%sql select Community_Area_Name, sum(College_Enrollment) AS TOTAL_ENROLLMENT \
   from SCHOOLS \
   group by Community_Area_Name 

-->

### Problem 9

##### Get the 5 Community Areas with the least total College Enrollment  sorted in ascending order

In [52]:
%sql SELECT COMMUNITY_AREA_NAME, SUM(COLLEGE_ENROLLMENT) AS TOTAL_ENROLL FROM CPS_REPORTCARD GROUP BY COMMUNITY_AREA_NAME ORDER BY TOTAL_ENROLL LIMIT 5

 * ibm_db_sa://lnc37078:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('OAKLAND', 140),
 ('FULLER PARK', 531),
 ('BURNSIDE', 549),
 ('OHARE', 786),
 ('LOOP', 871)]

Double-click __here__ for a hint

<!--
Order the previous query and limit the number of rows you fetch
-->

Double-click __here__ for the solution.

<!-- Solution:

%sql select Community_Area_Name, sum(College_Enrollment) AS TOTAL_ENROLLMENT \
   from SCHOOLS \
   group by Community_Area_Name \
   order by TOTAL_ENROLLMENT asc \
   fetch first 5 rows only

-->

### Problem 10

##### Get the hardship index for the community area which has College Enrollment of 4638

In [64]:
%sql SELECT A.COMMUNITY_AREA_NAME, B.HARDSHIP_INDEX FROM \
     CPS_REPORTCARD AS A, CHICAGO_SOCIOECONOMIC_DATA AS B \
     WHERE A.COMMUNITY_AREA_NUMBER = B.CA AND A.COLLEGE_ENROLLMENT = 4368

 * ibm_db_sa://lnc37078:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('NORTH CENTER', 6.0)]

Double-click __here__ for the solution.

<!-- Solution:
NOTE: For this solution to work the CHICAGO_SOCIOECONOMIC_DATA table 
      as created in the last lab of Week 3 should already exist

%%sql 
select hardship_index 
   from chicago_socioeconomic_data CD, schools CPS 
   where CD.ca = CPS.community_area_number 
      and college_enrollment = 4368

-->

In [56]:
%%sql 
select hardship_index 
   from chicago_socioeconomic_data CD, CPS_REPORTCARD CPS 
   where CD.ca = CPS.community_area_number 
      and college_enrollment = 4368

 * ibm_db_sa://lnc37078:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(6.0,)]

### Problem 11

##### Get the hardship index for the community area which has the highest value for College Enrollment

In [66]:
%%sql
SELECT A.COMMUNITY_AREA_NAME,B.HARDSHIP_INDEX
FROM CPS_REPORTCARD AS A, CHICAGO_SOCIOECONOMIC_DATA AS B
WHERE B.CA = A.COMMUNITY_AREA_NUMBER 
AND A.COLLEGE_ENROLLMENT = (SELECT MAX(COLLEGE_ENROLLMENT) FROM CPS_REPORTCARD);

 * ibm_db_sa://lnc37078:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('NORTH CENTER', 6.0)]

Double-click __here__ for the solution.

<!-- Solution:
NOTE: For this solution to work the CHICAGO_SOCIOECONOMIC_DATA table 
      as created in the last lab of Week 3 should already exist

%sql select ca, community_area_name, hardship_index from chicago_socioeconomic_data \
   where ca in \
   ( select community_area_number from schools order by college_enrollment desc limit 1 )

-->

## Summary

##### In this lab you learned how to work with a real word dataset using SQL and Python. You learned how to query columns with spaces or special characters in their names and with mixed case names. You also used built in database functions and practiced how to sort, limit, and order result sets, as well as used sub-queries and worked with multiple tables.

Copyright &copy; 2018 [cognitiveclass.ai](cognitiveclass.ai?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license/).